<h1>Et coucou <%= @coloc.name %></h1>

<p>
  Bravo <%= @user.pseudo %>, tu viens de créer la colocation <%= @coloc.name %>. <br>Tes/ta/ton coloc(s) va maintenant pouvoir te rejoindre, un mail leur a été envoyé.
</p>
