<h1>Ton colocataire <%= @user.pseudo %> t'invite sur Ménage-moi</h1>

<p>
  Ton/ta colocataire <%= @user.pseudo %> a créé la coloc: "<%= @coloc.name %>" sur l'appliacation Ménage-moi.
</p>
<p>Il ne reste plus qu'à le/la rejoindre en précisant le nom de la colocation: <br><strong><%= @coloc.name %></strong></p>
