<div class="banner">
  <div class="banner-content">
    <h1>Menage-moi!</h1>
    <p>La solution pour les colocataires</p>
    <%= link_to "Créer ma coloc", colocs_new_path, class: "btn btn-primary btn-sm btn-block"%>
    <div>

    </div>
  </div>
</div>
