<div class="banner">
  <div class="banner-content">
    <h1>Ménage-moi !</h1>
    <p>La solution pour les colocataires</p>
    <div><%= link_to "Créer ma coloc", colocs_new_path, class: "btn my-btn btn-block"%></div>
  </div>
</div>
