// Define variables for your color scheme

// For example:
$gray: #C6C6C6;
$light-gray: #F4F4F4;
$blue: #4f9da6;
$green: #318984;
$yellow: #f7aa00;
$red: #e9114f;
$orange: #FE6628;

// My color:
$my-bg-color: #fccf4d;
$my-nav-color: #49beb7;
$my-btn-color: #ef255f;
$my-btn-color-hover: #e9114f;
