<h1 style="text-align: center; color: #3AB795; font-family: Arial ;">Bienvenue sur Ménage-moi</h1>

<p>
  <%= @user.pseudo %>, ton compte a bien été créé sur Ménage-moi.
</p>
<p>Il ne manque plus qu'à créer une colocation et inviter tes colocataires à te rejoindre</p>

