<div class="container">

  <h1>Sélectionne les tâches à partager</h1>

  <%= simple_form_for :tasks, url: tasks_select_path do |f| %>
      <%= f.input :tasks,
                  label: "Liste des tâches",
                  as: :check_boxes,
                  collection: @default_tasks.map { |task| image_tag(Task.find_by(name: task[0]).icon, class: "card_icon", name: task[1]).html_safe } %>
    <%= f.button :submit %>
  <% end %>

</div>
