body {
  color: white;
}

.container {
  margin-bottom: 50px;
}

h1 {
  margin: 40px 0;
  text-align: center;
}

.my-btn {
  background-color: $my-btn-color;
  font-size: 22px;
  padding: 16px;
  margin: 30px 0;
  font-weight: bold;
  white-space: pre-wrap;
}

.my-btn:hover {
  background-color: $my-btn-color-hover;
  color: white;
}

a {
  color: white;
}

p {
  font-size: 20px;
}

input {
  color: black;
}

input[type="submit"] {
  color: white;
}

input[type="submit"]:hover {
  color: white;
}

