.banner {
  color: white;
  text-align: center;
  height: 100vh;
  height: calc(100vh - 40px);
  background-size: cover !important;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(0deg, rgba(247,159,36,0.5) 0%, rgba(234,135,7,0.3) 50%), asset-url('home-menage-moi.jpg');
  background-size: cover;
  background-position: -275px 0px;
  // margin-bottom: 50px;
}
.banner h1 {
  font-size: 50px;
  // font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  margin-top: 215px;
  text-shadow: 1px 1px 2px black;

}
.banner p {
  font-size: 28px;
  // font-weight: lighter;
  color: rgb(255, 255, 255);
  // opacity: 0.8;
  margin-top: 10px;
}
.banner .btn {
  margin: 10px;
  // margin-top: 100px;
  // background-color: red;
  border-radius: 20px;
  justify-content: center;
  padding: 15px;
  font-size: 22px;
  text-shadow: 0.5px 0.5px 1px black;
  box-shadow: 3px 3px 10px black;
  }

.banner-content div {
  display: flex;
  justify-content: center;
  // align-items: baseline;
}

.search-form input {
  height: 50px;
}
