form.tasks input[type="checkbox"] + label img.card_icon, div.plannings img.card_icon_to_do {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.2s ease;
  width: 130px;
  height: 130px;
  padding: 10px;
  margin: 7px;
  border-radius: 10%;
}

form.tasks input[type="checkbox"]:checked + label img.card_icon, div.plannings img.card_icon_done {
  border: 5px solid rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.2s ease;
  width: 130px;
  height: 130px;
  padding: 0px;
  margin: 7px;
  border-radius: 10%;
}

form.tasks input[type="checkbox"] {
  display: none;
}

form.tasks {
  text-align: center;
}

form.tasks fieldset legend {
  display: none;
}

form.tasks fieldset div, .plannings {
  display: inline-block;
}

div.plannings img.card_icon_to_do {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.2s ease;
  width: 130px;
  height: 130px;
  padding: 10px;
  margin: 5px;
  border-radius: 50%;
}

div.plannings img.card_icon_done {
  border: 5px solid $green;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.2s ease;
  width: 130px;
  height: 130px;
  padding: 5px;
  margin: 5px;
  border-radius: 50%;
}

.img-match {
  border: 5px solid rgba(255, 255, 255, 1);
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
