<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous te contactons pour te dire que ton email est en train d'être changer en : <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous te contactons pour te dire que ton email a été changé en : <%= @resource.email %>.</p>
<% end %>
