<p>Hello <%= @resource.email %>!</p>

<p>Tu as fait une demande pour changer de mot de passe. Tu peux suivre le lien ci-dessous:</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu n'as pas fait cette requête, ignore simplement cet email.</p>
<p>Ton mot de passe ne changera pas tant que tu ne suivra pas le lien ci-dessus et que tu n'en  aura pas créer un nouveau.</p>
