<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Crée ta coloc</h1>
      <%= simple_form_for @coloc do |f| %>
        <%= f.input :name, label: "Nom de ta coloc" %>
        <div style="margin: 30px 0;">
          <p>Envoie un mail à tes colocs pour les inviter :</p>
          <p>
            <input type="button" value=" - " onClick="javascript:this.form.champ.value--;">
            <input type="text" name="champ" value="2" style="text-align: center; width: 20%;">
            <input type="button" value=" + " onClick="javascript:this.form.champ.value++;">
          </p>
          <p><input type="email" style="width: 100%;"></p>
          <p><input type="email" style="width: 100%;"></p>
        </div>
        <%= f.button :submit, "Créer ta coloc", class: 'btn my-btn btn-block' %>
      <% end %>
    </div>
  </div>
</div>
