<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Crée ta coloc</h1>
      <%= simple_form_for @coloc do |f| %>
        <%= f.input :name, label: "Nom de ta coloc" %>
        <p>Envoie un mail à tes colocs pour les inviter :</p>
        <p>
          <input type="button" value=" - " onClick="javascript:this.form.champ.value--;">
          <input type="text" name="champ" value="2">
          <input type="button" value=" + " onClick="javascript:this.form.champ.value++;">
      </p>
        <p><input type="email"></p>
        <p><input type="email"></p>
        <%= f.button :submit, "Crée ta coloc", class: 'btn btn-rose' %>
      <% end %>
    </div>
  </div>
</div>
