<div class="result-card gain-div">
  <div><%= image_tag "gain.jpg", class: "img-rounded" %></div>
  <div id="gain">

  <i class="fas fa-times-circle"></i>

  <p>Bravo <%= current_user.pseudo.capitalize %>, <br>ton score est de <%= @points %>  ⭐ ! <strong>Plus que 65  ⭐</strong> avant l'apéro organisé par tes colocs !</p>

  </div>
</div>
