<div id="gain" class="result-card gain-div">

  <i class="fas fa-times"></i>

  <p><%= image_tag "gain.jpg", class: "img-rounded" %></p>

  <p style="font-weight: bolder;">Bravo, tu as cumulé <%= @points %> points cette semaine ! Hummm, ça sent bon l'apéro offert par tes colocs !</p>

</div>
