<div id="gain" class="result-card gain-div">

  <i class="fas fa-times"></i>

  <p><%= image_tag "gain.jpg", class: "img-rounded" %></p>

  <p style="font-weight: bolder;">Bravo, <%= current_user.pseudo.capitalize %>, ton score est de <%= @points %> points ! Plus que 65 points avant le gâteau/apéro offert par tes colocs !</p>

</div>
