<div id="gain" class="result-card gain-div">

  <i class="fas fa-times-circle"></i>

  <p><%= image_tag "gain.jpg", class: "img-rounded" %></p>

  <p style="font-weight: bolder;">Bravo, <%= current_user.pseudo.capitalize %>, ton score est de <%= @points %>  ⭐ ! Plus que 65  ⭐ avant l'apéro organisé par tes colocs !</p>

</div>
