<div id="loss" class="result-card hidden-loss-div">

  <i class="fas fa-times"></i>

  <p><%= image_tag "loss.jpg", class: "img-rounded" %></p>

  <p style="font-weight: bolder;">Désolé, tu aurais pu gagner <%= @points %> points cette semaine. Mais, vu que tu as été flemmard(e), ton score est tombé à <%= @points - 15 %> points.</p>

</div>
