<div class="result-card hidden-loss-div">
  <div><%= image_tag "loss.jpg", class: "img-rounded" %></div>
  <div id="loss">

    <i class="fas fa-times-circle"></i>



  <p>Désolé <%= current_user.pseudo.capitalize %>, <br>tu aurais pu gagner <%= @points %> ⭐. Mais ta flemme a fait tomber <strong>ton score à <%= @points - 15 %> ⭐</strong>.</p>

  </div>
</div>
