<div class="result-card hide-loss-div">

  <i class="fas fa-times"></i>

  <p><%= image_tag "loss.jpg", class: "img-rounded" %></p>

  <p>Tu as gagné <%= @points %> points cette semaine. Mais désolé, tu as une pénalité de -15 points pour ne pas avoir effectuer toutes tes tâches ! </p>
  <p>Ton score est donc de <%= @points - 15 %> points.</p>

</div>
