<div id="loss" class="result-card hidden-loss-div">

  <i class="fas fa-times"></i>

  <p><%= image_tag "loss.jpg", class: "img-rounded" %></p>

  <p style="font-weight: bolder;">Désolé <%= current_user.pseudo.capitalize %>, tu aurais pu gagner <%= @points %> ⭐. Mais ta flemme a fait tomber ton score à <%= @points - 15 %> ⭐</p>

</div>
