<div class="container">

  <h1>It's a match !!!</h1>

  <p>Voici ton planning pour la semaine :</p>

    <div class="plannings">
      <% @plannings.each do |planning| %>

        <% if planning.completed == true
            icon_class = "card_icon_done"
          else
            icon_class = "card_icon_to_do"
          end
        %>

        <%= link_to image_tag(planning.task.icon, class: icon_class), planning_path(planning), method: :patch %>

      <% end %>
    </div>
</div>
