<div class="container">

  <h1>It's a match !!!</h1>

  <p>Voici ton planning pour la semaine :</p>

  <% @plannings.each do |planning| %>
    <div class="card_task">
      <p><%= link_to planning.task.name, planning_path(planning), method: :patch %></p>
      <p>Fait : <%= planning.completed %></p>
    </div>
  <% end %>

</div>
