<div class="container">
  <div class="row text-center">
    <div class="col-md-8 col-md-offset-2">

      <h1>It's a match !!!</h1>

      <p>Voici ton planning pour la semaine :</p>

      <p><%= image_tag current_user.photo, class: "img-circle", height: 150 %></p>

      <div class="plannings">
        <% @plannings.each do |planning| %>

          <% if planning.completed == true
              icon_class = "card_icon_done"
            else
              icon_class = "card_icon_to_do"
            end
          %>

          <%= link_to image_tag(planning.task.icon, class: icon_class), planning_path(planning), method: :patch %>

        <% end %>
      </div>

      <p><input type="submit" class="btn btn-rose" value="Planning de ma coloc" /></p>
      <p><input type="submit" class="btn btn-rose" value="Voir le détail de mes tâches" /></p>
    </div>
  </div>
</div>
